body {
  font-family: Roboto;
  font-size: 16px;
  color: #4d4d4d;
}

body > main.container {
    padding: 80px 15px 0; /* 80px to make the container go all the way to the bottom of the topbar */
}

.background1 {
  background-color: #d4ebff;
}

.background2 {
  background-color: #2871ae;
}

.background3 {
  background-color: #4d4d4d;
}

@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

a {
  color: #6dbdff;
  text-decoration: underline;
  background-color: transparent;
}

a:hover {
  color: #6dbdff;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #4d4d4d;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #2871ae;
}
.nav-link.active, .dropdown-item.active {
  color: #4d4d4d;
  background-color: #d4ebff;
}
.navbar-nav .nav-link {
  margin: 0.5em;
  line-height: 16px;
}
.navbar-expand-md .navbar-nav .nav-link {
  padding: 0;
}

.dropdown-item {
  font-size: 0.875em;
  text-decoration: none;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;
  background-color: #2871ae;
}
.dropdown-toggle::after {
  color: #2871ae;
  margin-left: 0.5em;
  vertical-align: 0.2em;
  border-top: 4px solid;
  border-right: 3px solid transparent;
  border-bottom: 0;
  border-left: 3px solid transparent;
}
.nav-link {
  display: inline-block;
}

/* .dropdown-item.active {
  color: #4d4d4d;
} */

.dropdown-menu {
  margin-top: 0;
  font-size: 1em;
}
/*---------------------------------*/
.brand {
  font-family: Roboto;
  font-size: 1.25em;
  font-weight: bold;
  color: #4d4d4d;
  text-decoration: none;
}

a.brand {
  color: #4d4d4d;
}

.brand span {
  color: #2871ae;
}

.nav-item, .nav-link {
  font-family: Roboto;
  font-size: 1em;
  color: #4d4d4d;
  text-decoration: none;
}

/*---------------------------------*/

.es-1 {
  padding-bottom: 0.5em;
  font-family: 'Akrobat', sans-serif;
  font-size: 4.25em;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #4d4d4d;
}

.es-2 {
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 2.875em;
  font-weight: 300;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.es-3 {
  font-family: Roboto;
  font-size: 1.5em;
  font-weight: 900;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.color-1 {
  color: #2871ae;
}

.color-2 {
  color: #6dbdff;
}

.title-image-r {
  background-image: url("/images/h1.png");
  background-repeat: no-repeat;
  background-position-x: right;
}

.title-image-b {
  margin-bottom: -8px;
  margin-top: 2rem;
  padding-bottom: 0;
}

.es-list-title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  min-height: 2em;
  line-height: 1;
  font-family: Roboto;
  font-size: 1.5em;
  font-weight: 900;
  color: #4d4d4d;
}

.es-list-node {
  font-family: Roboto;
  font-size: 1em;
  line-height: 1.57em;
  color: #4d4d4d;

  position: relative;
  padding-left: 45px;
  padding-right: 15px;
  margin-bottom: 1em;
}

.es-list-node_last {
  margin-bottom: 0;
}

.es-list-node::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid;
  position: absolute;
  color: #2871ae;
  background-color: #2871ae;
  left: 0;
  top: 4px;
}


.es-list-num {
  font-family: Roboto;
  font-size: 1em;
  line-height: 1.57em;
  color: #4d4d4d;

  position: relative;
  padding-left: 45px;
  padding-bottom: 1em;
}

/*---------------------------------*/

.section1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section2 {
  padding-top: 45px;
  padding-bottom: 110px;
}

.section4 {
  padding-top: 5rem;
  padding-bottom: 120px;
}
.section-colored {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*---------------------------------*/

.service-link {
  text-decoration: none;
}
.service-title:hover {
  color: #2871ae;
}

/*---------------------------------*/


.es-intro-image {
  min-height: 21em;
  background-image: url("/es/images/main-header.jpg");
  background-repeat: no-repeat;
}


.es-intro-image_at-right {
  background-position-x: right;
}

.es-intro-image_fw {
  background-clip: border-box;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: cover;
  overflow: hidden;
  position: relative;
  height: 220px;
}

.es-success-stories-image {
  min-height: 21em;
  background-image: url("/es/images/success-stories.png");
  background-repeat: no-repeat;
}

.we-bg {
  background-image: url("/es/images/who_are_we.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;

  background-clip: border-box;
  background-origin: padding-box;
  background-position: center-top;
}


.we-row {
  background-color: #4d4d4d;
  background-image: url('/es/images/who_are_we.jpg');
  background-repeat: no-repeat;
  background-size: 50% 100%;
}

.we-img{
  background-image: url('/es/images/who_are_we2.jpg');
  background-clip: border-box;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.we-block-left {
  margin-left: auto;
  padding-bottom: 120px;
  padding-top: 120px;
  color: #fff;
}

.we-block-right {
  padding-left: 50px;
  padding-bottom: 120px;
  padding-top: 120px;
}

.we-list {
  position: relative;
  padding-left: 55px;
  margin: 50px;
}

.we-list::before {
  content: "";
  width: 5px;
  height: 100%;
  border: 1px solid;
  position: absolute;
  color: #2871ae;
  background-color: #2871ae;
  left: 0;
  top: 4px;
}

.we-left .we-list::before {
  color: #6dbdff;
  background-color: #6dbdff;
}

.we-list-title {
  font-family: Roboto;
  font-size: 1.875em;
  font-weight: 900;
  margin-bottom: 0;
}

.we-list-node {
  font-family: Roboto;
  font-size: 1em;
  line-height: 1.5;
}

.we-link {
  padding-left: 55px;
  font-family: Roboto;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  color: #2871ae;
  text-decoration: underline;
}

.we-link:hover {
  color: #2871ae;
  text-decoration: none;
}

.we-left .we-link {
  color: #6dbdff;
}

.we-left .we-link:hover {
  color: #6dbdff;
}
/*---------------------------------*/


/*---------------------------------*/
/* #map { */
    /* width: 100%; */
    /* height: 500px; */
/* } */

.form-r {
  padding-left: 50px;
}

.form-block {
  padding-left: 50px;
}

.form-img{
  background-image: url('/es/images/map.jpg');
  background-clip: border-box;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

max-w {
  max-width: 540px;
}

@media (min-width: 576px) {
  .max-w {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .max-w {
    max-width: 330px;
  }
}

@media (min-width: 992px) {
  .max-w {
    max-width: 450px;
  }
}

@media (min-width: 1200px) {
  .max-w {
    max-width: 540px;
  }
}

.form-group {
  margin-bottom: 0;
}

.contact-form {
  font-family: Roboto;
  font-size: 1em;
  line-height: 1.5;
  color: #fff;
}

textarea, input[type=text], input[type=email], input[type=phone] {
  padding: .5rem 1rem;
  width: 100%;
  display: block;
  border: none;
  border-left: 10px solid #6dbdff;
  border-radius: 0;
  background-color: #404040;
  font-family: Roboto;
  font-size: 1em;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  -webkit-appearance: none;
  cursor: text;
  outline: none;
}

.es-form:focus {
  border: none;
  border-left: 10px solid #6dbdff;
  border-radius: 0;
  background-color: #404040;
  box-shadow: none;
  color: #fff;
  -webkit-focus-ring-color: none;
}










.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 0;
  color: #fff;
}

/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the
* pesky delay.
*/
label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}

label {
  //text-transform: uppercase;
  //letter-spacing: 0.05em;
  padding-left: 1em;
  padding-bottom: 0;
  font-family: Roboto;
}
/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
textarea:placeholder-shown + label,
input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0.6rem, 2.5rem) scale(1);
}
/**
* By default, the placeholder should be transparent. Also, it should
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when
* there's something in the input at all.
*/
textarea:not(:placeholder-shown) + label,
textarea:focus + label,
input:not(:placeholder-shown) + label,
input:focus + label {
  transform-origin: left bottom;
  transform: translate(0.6rem, 1.3rem) scale(0.7);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.35);
}

.btn-send {
  width: 219px;
  height: 40px;
  background-color: #6dbdff;
  font-family: Akrobat;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  border-radius: 0;
}

.btn-send_form {
  margin-top: 3em;
}

textarea {
  overflow: auto;
}

.embed-responsive {
    height: 100%;
}

.done {
  display: none;
  z-index: 3;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  //background-color: rgba(0,0,0,0.4);
}

.done__block {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 40px;
  outline: 0;
  width: 400px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
}

.done__title {
  padding-top: 0;
  padding-bottom: 0;
}

.done__message {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.done__button {
  margin-left: auto;
  margin-right: auto;
  display: inherit;
}
.done__cross {
  position: absolute;
  right: 20px;
  top: 18px;
  width: 20px;
  height: 20px;
}
.done__cross:before, .done__cross:after {
  position: absolute;
  left: 11px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #2871ae;
}
.done__cross:before {
  transform: rotate(45deg);
}
.done__cross:after {
  transform: rotate(-45deg);
}

/*---------------------------------*/


footer {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/*---------------------------------*/

article p {
  padding-left: 45px;
}

article-container {
  padding-top: 150px;
}

.es-image_right {
  float: right;
  margin-left:48px;
  margin-bottom:63px;
}

.es-image_in-header {
  margin-top: -5em;
}

.resource-block {
  max-width: 80%;
}

.es-ol {
  list-style: none;
  padding-left: 0;
  counter-reset: chapter;
}

.es-li {
  position: relative;
  padding-left: 45px;
  padding-bottom: 1em;
}

.es-li:before {
  content: counter(chapter) ".";
  counter-increment: chapter;
  float: left;
  width: 45px;
  position: absolute;
  left: 0;
}

.table__container {
  margin-left: 45px;
  margin-right: 45px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: none;
  border-top: 1px solid #2871ae;
  font-family: Akrobat;
  font-size: 1.125em;
  line-height: 1.56;
  color: #2871ae;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #d4ebff;
}


@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .es-1 {
    font-size: 4em;
  }
  .section2 {
    padding-top: 0;
    padding-bottom: 3rem;
  }
  .we-list {
    margin-left: 0;
    margin-right: 0;
  }
  .form-block {
    padding-left: 0;
  }
  .es-intro-image_at-right {
    background-size: 58%;
    min-height: 16em;
  }
  .es-image_right {
    float: unset;
    width: 100%;
  }
  .es-image_in-header {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }
  .title-image-b {
    margin-bottom: -5px;
  }
}

@media (max-width: 768px) {
  .es-1 {
    font-size: 2.8em;
  }
  .es-2 {
    font-size: 1.5em;
  }
  .es-3 {
    font-size: 1.25em;
  }
  .section4 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .we-block-right, .we-block-left, .section-colored {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .es-list-title {
    min-height: unset;
  }
  .es-intro-image {
    min-height: 8em;
  }
  .es-intro-image_at-right {
    background: unset;
  }
  .we-block-left, .we-block-right {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
  .navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
    padding-right: 15px; 
    padding-left: 15px; 
  }
}

@media (max-width: 576px) {
  .max-w {
    margin-left: auto;
    margin-right: auto;
    //max-width: 510px;
  }
  .we-block-right {
    padding-left: 0;
  }
  .form-r {
    padding-left: 0;
  }
  .article-container {
     padding-top: 50px;
  }
  .navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
    padding-right: 0; 
    padding-left: 0; 
  }  
}
