{% block footer %}
<!-- Footer -->
<footer class="background3">
  <div class="container">
    <div class="footer-content section-footer">
      <div class="row">
        <div class="col-sm footer__col-first">
          <div class="footer__phone"><span class="font-weight-bold">{{ site.phone }}</span></div>
          <div class="footer__email"><a href="mailto:{{ site.email }}">{{ site.email }}</a></div>
        </div>
        <div class="col-sm text-left">{{ site.address|raw }}</div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}