<!-- Header -->
<header>
  <div class="container container-fix">
    <nav class="navbar navbar-expand-md navbar-light bg-faded">
            <a class="navbar-brand brand" href="{{ site.url }}/"><span>{{ site.title1 }}</span>{{ site.title2 }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                      <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">services</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item {{ page.is_retiring_a_mainframe ? ' active' }}" href="{{ site.url }}/retiring-a-mainframe">Retiring a mainframe</a>
                        <a class="dropdown-item {{ page.is_modernization_mainframe_software ? ' active' }}" href="{{ site.url }}/modernization-mainframe-software">Modernization mainframe software</a>
                        <a class="dropdown-item {{ page.is_replace_aging_mainframe_personnel ? ' active' }}" href="{{ site.url }}/replace-aging-mainframe-personnel">Replace aging mainframe personnel</a>
                        <a class="dropdown-item {{ page.is_installing_modern_software ? ' active' }}" href="{{ site.url }}/installing-modern-software">Installing modern software</a>
                      </div>
                    </li>                    
                    
                    
                    <li class="nav-item"><a class="nav-link{{ page.is_processes ? ' active' }}" href="{{ site.url }}processes">processes</a></li>
                    <li class="nav-item"><a class="nav-link{{ page.is_projects ? ' active' }}" href="{{ site.url }}projects">projects</a></li>
                    <li class="nav-item"><a class="nav-link{{ page.is_about ? ' active' }}" href="{{ site.url }}about-us">about us</a></li>
                </ul>
            </div>
    </nav>
  </div>
</header>

